.menu-popup {
    width: 40%;
    ul {
        padding-top: 6rem;
      gap: 3rem;
      justify-content: flex-start;
      .menu-btns-container {
        height: 4rem;
        font-size: 1.75rem;
      }
    }
  }
  