.menu-popup {
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #255d95;
  width: 60%;
  height: 100%;
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* Apply the animation */
  animation: slideInFromRight 0.15s ease-out forwards;

  /* Define the slide-in keyframes */
  @keyframes slideInFromRight {
    from {
      transform: translateX(100%); /* Start from the right */
      opacity: 0;
    }
    to {
      transform: translateX(0); /* Slide in to its original position */
      opacity: 1;
    }
  }

  ul {
    width: 100%;
    height: 100%;
    gap: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 5rem;
    align-items: center;
    .menu-btns-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 80%;
      height: 3rem;
      font-size: 1.25rem;
      border-radius: 0.25rem;
      font-weight: bold;
      font-family: "Inter", sans-serif;
      -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
      transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
      &:hover {
        box-shadow: 0 0 40px 40px #003366 inset;
        a {
          color: greenyellow;
        }
        i {
          color: greenyellow;
        }
      }
      a {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 1rem;
        color: white;
        text-decoration: none;

        i {
            padding-left: 1rem;
        }
      }
    }
  }
}
