.menu-popup {
  overflow: hidden;
  background-color: #003366;
  width: 25%;
  top: 0;

  ul {
    .nav-img {
      display: flex;
      width: 10rem;
      height: fit-content;
    }
    .menu-btns-container {
      width: 80%;
      a {
        i {
            padding-left: .5rem;
        }
      }
    }
  }
}

  