  
  // tile scss
  .book-tile, .game-tile, .item-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
    .tile-img {
      width: 7rem;
    }
    h1,
    h2 {
      text-overflow: ellipsis;
      overflow: hidden;
      width: 100%;
      font-size: 10pt;
      
    }
    h2 {
      font-style: italic;
      color: #003366;
    }
  }
  