//tile scss 
.book-tile,
.game-tile,
.item-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  .tile-img {
    width: 100px;
    aspect-ratio: 100/150;
    object-fit: cover;
  }
  h1,
  h2 {
    font-size: 12pt;
  }
}
