.all-books-page,
.all-games-page,
.all-others-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  .all-books-body,
  .all-games-body,
  .all-others-body {
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    .view-all-headers {
      a {
        i {
          position: absolute;
          top: 0.5rem;
          left: 0.5rem;
          display: flex;
          font-size: 1.5rem;
          padding: 8px;
          color: #003366;
          &:hover {
            color: greenyellow;
          }
        }

      }
      h1 {
        display: none;
      }

    }
    .view-all-grid {
      display: grid;
      width: 100%;
      height: 100%;
      justify-items: center;
      grid-template-columns: repeat(3, 1fr);
      gap: 8px;
      padding: 2rem;
      overflow-y: auto;
      overflow-x: hidden;
    }
  }
}  
  

 /* Popup styles */
 .popup-overlay {
  background-color: rgba(0, 0, 0, 0.515);
  inset:0;
  position: fixed;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9); 
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.721));
  border-radius: 1rem;
  padding: 20px;
  z-index: 1000;
  height: 80%;
  width: 90%; 
  max-width: 600px; 
}

.title {
  font-size: 30px;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  background-color: rgba(32, 87, 215, 0.746);
  // border-radius: 1rem;

}

.form-label {
font-size: large;
align-items: center;
justify-content: center;
color: #003366;
text-align: center;

}
/* for boxes around input fields */
input[type="text"],
textarea {
width: 100%;
margin-bottom: 10px;
border: 1px solid #003366; 
border-radius: 5px; 
padding: 10px; 
box-sizing: border-box;
word-wrap:break-word; 
}

textarea {
resize: none; 
}

.input-description {
width: 100%; 
margin-bottom: 10px; 
border: 1px solid #003366; 
border-radius: 5px; 
padding: 10px; 
box-sizing: border-box;
height: auto;
min-height: 100px;
max-height:200px;
overflow-y: auto;
word-wrap: break-word;
}

.popup-inner {
  background: white;
  height:99%;
  width:90%;
  border-radius: 1rem;
  
} 

.popup-btn {
  margin: 1rem auto;
  padding: 12px;
  background-color: #003366;
  width: 16rem;
  height: 2rem;
  color: white;
  font-family: "DotGothic16", sans-serif;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  transition: background-color 0.3s, color 0.3s;
}

.popup-btn:hover {
  background-color: rgba(32, 87, 215, 0.241);
}

.close-btn {
  position: absolute;
  bottom: 35px;
  right:65px;
  font-size:40px;
  padding: 3px;
  cursor: pointer;
}






  
  
  
  /* Popup styles */
//   .popup-overlay {
//     background-color: rgba(0, 0, 0, 0.515);
//     inset:0;
//     position: fixed;
//     display:flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     z-index: 1000;
//   }
  
//   .popup {
//     display: flex;

//     flex-direction: column;
//     align-items: center;
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     background-color: rgba(255, 255, 255, 0.9); 
//     filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.721));
//     border-radius: 1rem;
//     padding: 20px;
//     z-index: 1000;
//     height: fit-content;
//     width: 90%; 
//     max-width: 600px; 
//   }
//   // title  for popups
//   .title {
//     font-size: 1.5rem;
//     align-items: center;
//     justify-content: center;
//     color: white;
//     text-align: center;
//     background-color: rgba(32, 87, 215, 0.746);
//     // border-radius: 1rem;
//   }

//  .form-label {
//   font-size: 1rem;
//   align-items: center;
//   justify-content: center;
//   color: #003366;
//   text-align: center;
//  }

// /* for boxes around input fields */
//  input[type="text"],
// textarea {
//   width: 100%;
//   margin-bottom: 10px;
//   border: 1px solid #003366; 
//   border-radius: 5px; 
//   padding: 10px; 
//   box-sizing: border-box;
//   word-wrap:break-word; 
// }

// textarea {
//   resize: none; 
// }

// .input-description {
//   width: 100%; 
//   margin-bottom: 10px; 
//   border: 1px solid #003366; 
//   border-radius: 5px; 
//   padding: 10px; 
//   box-sizing: border-box;
//   height: auto;
//   min-height: 100px;
//   max-height:200px;
//   overflow-y: auto;
//   word-wrap: break-word;
// }

//   .popup-inner {
//     background: white;
//     height:110%;
//     width:94%;
//     border-radius: 1rem;
    
//   } 

//   .popup-btn {
//     margin: 1rem auto;
//     padding: 8px;
//     width:14rem;
//     background-color: #003366;
//     width: 16rem;
//     height: 2rem;
//     color: white;
//     font-family: "DotGothic16", sans-serif;
//     font-size: 1em;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     font-weight: bold;
//     border-radius: 5px;
//     border: none;
//     transition: background-color 0.3s, color 0.3s;
//   }
  
//   .popup-btn:hover {
//     background-color: rgba(32, 87, 215, 0.241);
//   }
  
//   .close-btn {
//     position: absolute;
//     bottom: 35px;
//     right:65px;
//     font-size:40px;
//     padding: 3px;
//     cursor: pointer;
//   }
//   .add-new-btn {
//     color: white;
//     background-color: #003366; 
//     border: none;
//     border-radius: 5px;
//     align-self: center;
//         font-size: 1rem;
//         font-weight: 400;
//         line-height: 1;
//         padding: .25em 1em;
//         text-decoration: none;
//         text-align: center;
//         font-family: "Montserrat", sans-serif;
//         font-weight: 700;
//   }