.users-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  
    
  .users-body {
    max-height: 100%;
    overflow-y: auto; /* Add this line to enable vertical scrollbar */
    // max-height: 100%;
    display: flex;
    flex-wrap: wrap; /* Change flex-direction to flex-wrap */
    justify-content: space-between; /* Add justify-content property */
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}
