.users-page {
.users-body {
  max-height: 100%;
  overflow-y: auto; /* Add this line to enable vertical scrollbar */
  display: flex;
  flex-wrap: wrap; /* Changed from flex-direction to flex-wrap */
  justify-content: center; /* Added justify-content property */
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
}


}