.users-page {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .users-body {
      display: flex;
      justify-content: flex-start;
      width: 100%;
      box-shadow: none;
      flex-direction: column;
      overflow-y: scroll;
    }
}

.users-viewAll-page {
.home-banner {
margin-top: -2rem;
}

.back-button {
  top: 3rem;
}
}