.home-page {
    .home-banner {
      margin-top: 3rem;
      height: 20%;
      .welcome-msg,
      .slogan {
        font-size: 18pt;
      }
      .welcome-msg {
        margin-bottom: 1rem;
      }
    }
  }
  