.home-page {
  .home-banner {
    height: 50%;
    margin-top: 7rem;
    .welcome-msg,
    .slogan {
      font-size: 18pt;
    }
    .welcome-msg {
      margin-bottom: 1rem;
    }
  }
  .dashboard-display-container {
    .display-shelf {
      height: 30%;
      margin-bottom: 0;
      .display-shelf-headers {
        h3 {
          font-size: 1.25rem;
        }
        button {
          font-size: 1.25rem;
        }
      }
    }
  }
}
