.home-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  .home-body {
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-bottom: 4px;
    border-radius: 1rem;
    .home-banner {
      margin-top: 1rem;
      height: fit-content;
      width: 90%;
      border-radius: 16px;
      background-color: #003366;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      text-align: center;
      filter: drop-shadow(1px 1px 2px grey);
      padding: 16px;
      .welcome-msg,
      .slogan {
        color: white;
        font-family: "Inter", sans-serif;
        margin-top: 8px;
      }
      .welcome-msg {
        font-weight: bold;
        text-wrap: balance;
        width: 95%;
      }
    }
    .view-container {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-around;
      padding-top: 0.25rem;
      padding-bottom: 0.75rem;
      .view-btn {
        background-color: #003366;
        border: none;
        border-radius: 5px;
        color: white;
        cursor: pointer;
        display: flex;
        font-size: 11pt;
        line-height: 1;
        text-decoration: none;
        text-align: center;
        font-family: "Inter", sans-serif;
        font-weight: bold;
        padding: 0.25em 0.5em;
        &:hover {
          color: greenyellow;
        }
      }
    }
    .home-section {
      width: 97%;
      height: 79%;
      margin-top: 8px;
      overflow-x: hidden;
      overflow-y: auto;
      border-radius: 1rem;
      justify-content: space-evenly;
      .books-container,
      .board-games-container,
      .others-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        max-height: fit-content;
        padding-top: 1.75rem;
        h3 {
          font-weight: bold;
          color: #003366;
          font-family: "Inter", sans-serif;
        }
      }
    }
  }

}



// carousel
.min-w-0,
.shrink-0,
.grow-0 {
  width: 60px;
  padding-left: 1rem;
}
.books-container > div:nth-child(2) > button:nth-child(3),
.board-games-container > div:nth-child(2) > button:nth-child(3),
.others-container > div:nth-child(2) > button:nth-child(3),
.books-container > div:nth-child(2) > button:nth-child(2),
.board-games-container > div:nth-child(2) > button:nth-child(2),
.others-container > div:nth-child(2) > button:nth-child(2) {
  display: none;
}

.books-container > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(3) {
  width: 70px;
}

.books-container > div:nth-child(2) P {
  width: 100%;
}

.books-container > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(3) {
  width: 60px;
}

.books-container > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) {
  display: flex;
  justify-content: center;
}
