.home-page {
  .home-banner {
    margin-top: 6rem;
    height: 20%;
    .welcome-msg,
    .slogan {
      font-size: 18pt;
    }
    .welcome-msg {
      margin-bottom: 1rem;
    }
  }
  .dashboard-display-container {
    .display-shelf {
      height: 25%;
      margin-bottom: 1rem;
    }
    .display-shelf-headers {
      h3 {
        font-size: 1.25rem;
      }
      button {
        font-size: 1.25rem;
      }
    }
  }
}
