.home-page {
  .home-banner {
    height: 50%;
    .welcome-msg,
    .slogan {
      font-size: 18pt;
    }
    .welcome-msg {
      margin-bottom: 1rem;
    }
  }
  .dashboard-display-container {
    .display-shelf .books {
      height: 30%;
    }
    .display-shelf-headers {
      h3 {
        font-size: 1.25rem;
      }
      button {
        font-size: 1.25rem;
      }
    }
  }
}

  