.home-page {
  overflow-y: scroll;
  .home-banner {
    height: 50%;
    margin-top: 7rem;
    .welcome-msg,
    .slogan {
      font-size: 20pt;
    }
    .welcome-msg {
      margin-bottom: 1rem;
    }
  }
  .dashboard-display-container {
    gap: 1rem;
    height: 100%;

    .display-shelf {
      min-height: 60%;
    }

    .display-shelf-headers {
      h3 {
        font-size: 1.25rem;
      }
      button {
        font-size: 1.25rem;
      }
    }
  }
}
