.BookProfileCardPage, .GameProfileCardPage, .ItemProfileCardPage  {
  .ItemProfileCard {
    width: 20%;
    max-height: 80%;
    padding-bottom: .75rem;
    .white-card-overlay {
      padding: 1rem 1.25rem;
      }
    }
  }