.page-template {

  background-color: #003366;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  .page-body {
    display: flex;
    justify-content: center;
    width: 80%;
    height: 100%;
    box-shadow: none;
    margin-right: 2rem;
    
  }
  .navigation-bar {
    display: none;
  }
  .navigation-side-bar {
    display: flex;
    width: calc(20% - 32px);
  }
}
