.page-template {
  padding: 4rem 0;
  background-color: #003366;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  .page-body {
    display: flex;
    justify-content: center;
    width: 70%;
    height: 100%;
    box-shadow: none;
    margin-right: 2rem;
    margin-bottom: 0;
    border-radius: 1rem;
  }
  .navigation-bar {
    display: none;
  }
  .navigation-side-bar {
    display: flex;
    width: calc(30% - 32px);
    height: 100%;
  }
}
