// UserTile
.User-tile {
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: whitesmoke;
  width: 100%;
  height: fit-content;
  gap: 2rem;
  padding: 0.5rem 1rem;
  border-bottom: 0.5px solid lightgrey;
}

.User-tile-img {
  width: 5rem;
}

.User-name {
  color: #003366;
  text-align: left;
}

.users-viewAll-page {
  .home-banner {
    margin-top: -2rem;
  }

  .back-button {
    top: 3rem;
  }
}

.users-viewAll-page {
  .back-button {
    top: 9rem;
  }
}
