@media screen and (min-width: 1024px) {
    .my-library-page {
      .tabs {
        margin-top: 20px; 
      }
  
      .Library-display-container {
        .display-shelf {
          height: 30%; 
        }
  
        .display-shelf-headers, .Library-shelf-headers, .lent-shelf-headers {
          h3 {
            font-size: 1.8em; 
          }
        }
      }
    }
  }