.my-library-page {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .my-library-body {
    display: flex;
    justify-content: center;
    width: 70%;
    box-shadow: none;
    .tabs {
      margin-top: 50px;
    }

    .Library-display-container {
      .display-shelf {
        height: 25%;
      }

      .display-shelf-headers,
      .Library-shelf-headers,
      .lent-shelf-headers {
        h3 {
          font-size: 1.5em;
        }
      }
    }
  }
}
