.book-profile-card {
  width: 22rem;
  height: 40rem;

  .about-section {
    h3 {
      margin-top: 2rem;
      font-size: 1.25rem;
    }
    .about-content {
      max-height: 70%;
      /* Customizes the scrollbar track (the part the scrollbar moves along) */
      ::-webkit-scrollbar-track {
        background: #f1f1f1; /* Light grey track background */
        border-radius: 10px; /* Rounded corners for the track */
      }

      /* Customizes the scrollbar thumb (the part you drag) */
      ::-webkit-scrollbar-thumb {
        background: #888; /* Darker grey scrollbar thumb */
        border-radius: 10px; /* Rounded corners for the thumb */
      }

      /* Customizes the width of the scrollbar */
      ::-webkit-scrollbar {
        width: 8px; /* Skinnier scrollbar */
      }

      h4 {
        font-size: 1.25rem;
      }

      p {
        font-size: 14pt;
      }
    }
    .book-card-information {
      font-size: 1.25rem;
    }
  }

  .card-overlay {
    height: 30%;
    .overlay-content {
      .book-placeholder {
        width: 6rem;
        height: 9rem;
      }
      .card-headers {
        font-size: 1.25rem;
        .borrow-btn {
          margin-top: 1.5rem;
          margin-bottom: 1rem;
          font-size: 1.25rem;
          background-color: white;
          color: #003366;
          -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
          transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
          &:hover {
            color: #003366;
            box-shadow: 0 0 40px 40px greenyellow inset;
          }
        }
      }
    }

    .close-btn {
      width: fit-content;
      height: fit-content;
      position: absolute;
      top: 4px;
      left: 4px;
      border: none;
      background-color: transparent;
      cursor: pointer;
      i {
        padding: 8px;
        font-size: 1.5rem;
        color: white;
        &:hover {
          color: greenyellow;
        }
      }
    }
  }
}
