.all-books-page,
.all-games-page,
.all-others-page {
  .all-books-body,
  .all-games-body,
  .all-others-body {
    display: flex;
    justify-content: center;
    width: 99%;
    height: 99%;
    box-shadow: none;
    .view-all-headers {
      a {
        i {
          top: 1.25rem;
          left: 1.5rem;
          font-size: 1.75rem;
        }
      }
    }
    .view-all-grid {
      grid-template-columns: repeat(5, 1fr);
      gap: 16px;
    }
  }
}
