.inbox-page {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .inbox-body {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 99%;
    box-shadow: none;
    .inbox-container {
      width: 100%;
      height: 100%;
      .inbox-tabs {
        background-color: #003366;
        border-bottom: none;
        .tab {
          padding: 16px 20px;
        }
      }
      .inbox-tab-content {
        padding: 4px;
      }
    }
  }
}

// EmailPopup.jsx css
.email-popup {
  .email-popup-content {
    margin-left: 15%;
    width: 30rem;
    .inbox-close-btn {
      position: absolute;
      top: 0.5rem;
      right: 1rem;
      i {
        font-size: 1.75rem;
      }
    }
    h1 {
      font-size: 1.25rem;
    }
    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      label {
        padding-left: 0.75rem;
        padding-bottom: 4px;
      }
      #email-textarea {
        width: 27rem;
      }
      button {
        font-size: 1.25rem;
        width: 27rem;
        height: 2.25rem;
      }
    }
  }
}
